#headerimg
{
    margin: 0 0 0 0%;
}
body
{
    background-color: #ffffff;
}
#Canvas
{
	border:1px solid #999;
    border-radius: 4px;
    width: 260px; height: 260px;
    cursor: crosshair;
}
.my_button
{
    margin: 0px 0px 5px 0px;
    border-radius: 4px;
    width: 84px; /*126*/
    font-size: 16px;
    cursor: pointer;
}

/*Aligns text relatively to parent div*/
.wraper {
    position: relative;
    width: 260px;
    margin:0 auto;   
}

p
{
    font-size: 16px;
}