{% extends 'base.html' %}

{% block content %}
<div class="wraper" align='center'>
    <a href="{{ url_for('what_others_drew', kind='random') }}">
        <button       
            type="button" 
            class="btn btn-default my_button"
            style="width:126px">
            Show random</button>
    </a>
    <a href="{{ url_for('what_others_drew', kind='recent') }}">
        <button       
            type="button" 
            class="btn btn-default my_button"
            style="width:126px">
            Show recent</button>
    </a>
    <div class="wraper" align='center'>

        {% for drawing in drawings %}
            <h4>{{ drawing.predicted_label }}</h4>
            <img 
                src="https://doodles-bucket.s3.eu-central-1.amazonaws.com/{{ drawing.s3_filename }}"
                title="{{ drawing.predicted_label }}">
        {% endfor %}
    </div>
</div>

{% endblock content %}
